/* Begin Imports */

@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* End Imports */

::-webkit-scrollbar {
	width: 0 !important;
}

* {
	text-align: center;
}

/* Begin body */

body {
	background: url('./imgs/fancy-pants.jpg');
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

body h1 {
	color: #fff;
	font-family: 'Indie Flower', cursive;
	font-size: calc(25px + 2vmin);
}

/* End body */

/* Begin main */

main {
	background: #1a1921;
	border: 1px solid #fff;
	border-radius: 20px;
}

/* End main */

/* Begin quiz data */

.quizData {
	margin-bottom: 20px;
}

.score {
	display: inline;
}

.question-number {
	text-align: right;
	display: inline;
}

/* End quiz data */

/* Begin quiz */

img {
	height: 75px;
	width: 120px;
}

.victory {
	height: 100px;
	width: 150px;
	margin-bottom: 20px;
}

.start-content {
	margin-top: 130px;
}

#quiz {
	text-align: center;
	padding: 20px 20px;
	color: darkblue;
	height: 300px;
	width: 200px;
}

#quiz fieldset {
	border: 0;
	padding: 0;
}

.heading {
	color: darkblue;
	font-family: 'Indie Flower', cursive;
	border: 0;
	padding-bottom: 50px;
}

ul {
	list-style-type: none;
	padding: 0;
}

/* End quiz */

/* Begin quiz buttons */

.start {
	background: transparent;
	font-size: calc(15px + 2vmin);
	transition: all 0.5s ease-out;
	font-family: 'Indie Flower', cursive;
	margin: auto auto;
	color: #fff;
	padding: 0;
}

.start:hover {
	transition: all 0.5s ease-out;
}

button {
	border: 0;
	padding: 0;
	margin: auto auto;
	background: transparent;
	color: #fff;
	transition: all 0.5s ease-out;
	font-family: 'Indie Flower', cursive;
	font-size: calc(10px + 2vmin);
}

button {
	text-decoration: none;
}

button::after {
	content: '';
	display: block;
	width: 0;
	height: 1px;
	background: #fff;
	transition: width .3s;
}

button:hover::after {
	width: 100%;
	transition: width .3s;
}

/* End quiz buttons */

/* Begin quiz questions */

.question-content h2 {
	margin-bottom: 50px;
	font-size: calc(10px + 2vmin);
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}

/* Begin quiz questions */

/* Begin quiz answers */

.answers {
	text-align: left;
	color: cyan;
}

.question-content input {
	float: left;
}

.submission-response {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}

.submission-response h4 {
	color: #fff;
}

.submission-response .true {
	color: green;
}

.submission-response .false {
	color: red;
}

.correctAns {
	color: cyan;
}

.results-msg h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	color: #fff;
}

.results-msg .goodScore {
	color: green;
}

.results-msg .ehhScore {
	color: yellow;
}

.results-msg .badScore {
	color: red;
}

/* End quiz anwsers */

/* Begin tablet */
@media only screen and (min-width: 768px) {
	img {
		height: 275px;
		width: 225px;
	}

	.victory {
		height: 250px;
		width: 400px;
		margin-bottom: 20px;
	}

	#quiz {
		text-align: center;
		padding: 20px 20px;
		color: darkblue;
		height: 500px;
		width: 500px;
	}

	.start-content {
		margin-top: 200px;
	}
}
/* End tablet */

/* Begin Desktop */
@media only screen and (min-width: 1200px) {
	body {
		background: url('./imgs/fancy-pants.jpg');
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: calc(10px + 2vmin);
		color: white;
	}

	body h1 {
		color: #fff;
		font-family: 'Indie Flower', cursive;
		font-size: calc(25px + 2vmin);
	}

	main {
	}

	#quiz {
		text-align: center;
		padding: 100px 100px;
		color: lightblue;
	}

	.heading {
		color: darkblue;
		font-family: 'Indie Flower', cursive;
		border: 0;
		padding-bottom: 50px;
	}

	.start {
		background: transparent;
		border: 0;
		border-radius: 5px;
		font-size: calc(15px + 2vmin);
		transition: all 0.5s ease-out;
		font-family: 'Indie Flower', cursive;
	}

	.question-content h2 {
		margin-bottom: 50px;
		font-size: calc(10px + 2vmin);
	}

	#quiz {
		text-align: center;
		padding: 20px 20px;
		color: darkblue;
		height: 500px;
		width: 500px;
	}

	img {
		height: 300px;
		width: 250px;
	}

	.victory {
		height: 300px;
		width: 500px;
		margin-bottom: 20px;
	}

	.start-content {
		margin-top: 200px;
	}
}
/* End Desktop */
