/* Begin Imports */

@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

/* End Imports */

::-webkit-scrollbar {
	width: 0 !important;
}

* {
	text-align: center;
}

/* Begin body */

body {
	background: url('./imgs/fancy-pants.jpg');
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

body h1 {
	color: #fff;
	font-family: 'Indie Flower', cursive;
	font-size: calc(25px + 2vmin);
}

/* End body */

/* Begin main */

main {
	background: #1a1921;
	border: 1px solid #fff;
	border-radius: 20px;
}

/* End main */

/* Begin quiz */

#quiz {
	text-align: center;
	padding: 20px 20px;
	color: darkblue;
}

#quiz fieldset {
	border: 0;
	padding: 0;
}

.heading {
	color: darkblue;
	font-family: 'Indie Flower', cursive;
	border: 0;
	padding-bottom: 50px;
}

/* End quiz */

/* Begin quiz buttons */

#start {
	background: transparent;
	border: 0;
	border-radius: 5px;
	font-size: calc(15px + 2vmin);
	transition: all 0.5s ease-out;
	font-family: 'Indie Flower', cursive;
	margin: auto auto;
	color: #fff;
}

#start:hover {
	transition: all 0.5s ease-out;
}

/* End quiz buttons */

/* Begin tablet */
@media only screen and (min-width: 769px) {
}
/* End tablet */

/* Begin Desktop */
@media only screen and (min-width: 1200px) {
	body {
		background: url('./imgs/fancy-pants.jpg');
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: calc(10px + 2vmin);
		color: white;
	}

	body h1 {
		color: #fff;
		font-family: 'Indie Flower', cursive;
		font-size: calc(25px + 2vmin);
	}

	main {
	}

	#quiz {
		text-align: center;
		padding: 200px 200px;
		color: darkblue;
	}

	.heading {
		color: darkblue;
		font-family: 'Indie Flower', cursive;
		border: 0;
		padding-bottom: 50px;
	}

	#start {
		background: transparent;
		border: 0;
		border-radius: 5px;
		font-size: calc(15px + 2vmin);
		transition: all 0.5s ease-out;
		font-family: 'Indie Flower', cursive;
	}
}
/* End Desktop */
